* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    background-color: blanchedalmond;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;                                    
}

.item {
    width: 100px;
    height: 100px;
    background-color: black;
    color: greenyellow;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
    border-radius: 10px;
    border: 2px dotted green; 
}

.container .item:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.container .item:nth-child(4) {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}

.container .item:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}