/*pseudoclass*/

p:hover{
    color: red;
    font-size: 1.2em;
}

input:focus{
    padding: 5px;
    background-color: lightsalmon;
    font-size: 1.5em;
    color: grey;

}

div {
    width: 100%;
    background-color: aqua;
    color: white;
    padding: 5px;
}

div p:nth-child(3){
    font-style: italic;
    font-weight: bold;
    color: lightcoral;
}

/*pseudoelements*/

p::first-line{
    color: crimson;

}

p::before{
    content:"不不不不不不不不不不不不不不不不不"
}

p::after{
    content:"歹"
}